/* Fonts */
@font-face {
    font-family: 'Altone';
    src: url('fonts/Altone.ttf');
}
@font-face {
    font-family: 'Washtime';
    src: url('fonts/Washtime.ttf');
}
@font-face {
    font-family: 'Biko';
    src: url('fonts/Biko.otf');
}
/* Desktop, iPad Optimization */
:root {
    --primary: #000000;
    --secondary: rgba(79, 215, 253, 0.968);
    --white: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Biko';
}
#main {
    background: linear-gradient(to bottom, rgba(79, 215, 253, 0.968), rgba(0, 0, 0, 0.712)), url("images/main.jpg");
    min-height: 70vh;
    background-position: bottom center;
    background-size: cover;
}
a { 
    text-decoration: none;
}
.main-content h1{
    font-family: 'Washtime';
}
.container {
    max-width: 1200px;
    padding: 16px;
    margin: auto;
}
#main .container img {
    max-height: 70px;
}
section {
    margin: 80px auto;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list {
    display: flex;
    list-style: none;
    gap: 28px;
    align-items: center;
}
.nav-list a {
    color: var(--white);
    font-size: 20px;
}
.btn {
    appearance: button;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    font-family: 'Altone';
}
.btn:after {
    background-clip: padding-box;
    background-color: rgba(79, 215, 253, 0.968);
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.btn:main, button:focus {
    user-select: auto;
}
.btn:hover:not(:disabled) {
    filter: brightness(1.1);
} 
.btn:disabled {
    cursor: auto;
}  
.btn:active:after {
    border-width: 0 0 0px;
}
.btn:active {
    padding-bottom: 10px;
}
.btn-secondary {
    border: 1px solid var(--white);
    color: var(--white);
    font-weight: bold;
}
.btn-primary {
    border: none;
    background: #aff3ff;
    color: rgb(0, 0, 0);
}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    color: var(--white);
}
.main-content .intro-heading {
    font-size: 75px;
    text-align: center;
}
.main-content p {
    max-width: 500px;
    margin-bottom: 15px;
    margin-top: 15px;
    text-align: center;
    font-size: 25px;
}
.menu-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
    width: 30px;
}
/* Active Studies Section */
.section-title h1 {
    font-size: 45px;
    text-align: center;
    margin-top: 0;
}
.section-title .line {
    width: 350px;
    height: 4px;
    border: 10px;
    background: var(--secondary);
    margin: auto;
    margin-top: 15px;
}
.services {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}
.service {
    width: 430px;
}
.service h3 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 25px;
}
.service p {
    margin-bottom: 20px;
    font-size: 22px;
}
.service img {
    max-width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
.service img:hover {
    transform: scale(1.05);
}
/* Testimonials */
#testimonial {
    background: #cccccc;
}
#testimonial .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    gap: 30px;
    padding: 50px 16px;
}
#testimonial h1 {
    font-size: 23px;
    font-family: 'Altone', sans-serif;
    text-align: center;
}
#testimonial .profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* About Us Section */
#about-us .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
}
#about-us .container .about-content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
}
#about-us .container .about-content h1 {
    font-family: 'Altone', sans-serif;
    font-size: 23px;
} 
#about-us img {
    border-radius: 5px;
    transition: transform 0.3s ease;
}
#about-us img:hover {
    transform: scale(1.05);
}
#about-us .container .about-content h4 {
    font-family: 'Biko', sans-serif;
    font-size: 20px;
}
/* Questions */
#questions {
    min-height: 500px;
    background: linear-gradient(to bottom, rgba(79, 215, 253, 0.968), rgba(0, 0, 0, 0.712)), url("images/main.jpg");
    background-position: bottom center;
    background-size: cover;
}
#questions .container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    height: 500px;
}
#questions h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Washtime';
    color: white;
}
#questions p {
    font-size: 25px;
    color: white;
}
/* Footer */
footer {
    display: flex;
    margin-top: -50px;
    align-items: center;
    justify-content: center;
}
footer .container {
    display: flex;
    padding: 40px 16px;
    align-items: center;
    justify-content: center;
}
footer i{
    padding-left: 10px;
    padding-right: 10px;
}
/* Mobile Optimization */
@media screen and (max-width: 430px){
    /* Header */
    .main-content .intro-heading {
        font-size: 65px;
        text-align: center;
    }
    .main-content p {
        max-width: 500px;
        margin-bottom: 15px;
        margin-top: 15px;
        text-align: center;
        font-size: 20px;
    }
    .menu-btn {
        display: block;
    }
    .nav-list {
        align-items: left;
        flex-direction: column;
        background: gray;
        position: absolute;
        top: 0;
        right: -900px;
        width: 80%;
        height: 100vh;
        padding-top: 80px;
        transition: all 0.5s ease;
    }  
    .nav-list.active {
        right: 0;
    }
    .nav-list a {
        color: var(--white);
        font-size: 30px;
    }
    .btn.btn-primary{
        margin-bottom: 30px;
    }
    /* Active Studies Section */
    .section-title .line {
        width: 270px;
        height: 4px;
        border: 10px;
        background: var(--secondary);
        margin: auto;
        margin-top: 15px;
    }
    .service h3 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 25px;
    }
    .service p {
        margin-bottom: 20px;
        font-size: 22px;
    }
    /* About Us Section */
    #about-us .container  {
        flex-direction: column;
        gap: 30px;
    }
    #about-us img {
        max-height: 450px;
    }
    /* Footer */
    footer .container {
       flex-direction: column; 
       gap: 16px;
    }
}
